In [1]:
from functions import HelperFunctions

In [8]:
accidentsCSV = HelperFunctions("FARS2019NationalCSV/accident.CSV")
accidents = accidentsCSV.load_csv()
accidents.head()

/var/folders/dq/8qq763014cx3gd_d24dqxcrm0000gn/T/ipykernel_88672/2675012270.py:2: DtypeWarning: Columns (40,42,69) have mixed types.Specify dtype option on import or set low_memory=False.
  accidents = accidentsCSV.load_csv()

,STATE,STATENAME,ST_CASE,VE_TOTAL,VE_FORMS,PVH_INVL,PEDS,PERSONS,PERMVIT,PERNOTMVIT,...,HOSP_MN,HOSP_MNNAME,CF1,CF1NAME,CF2,CF2NAME,CF3,CF3NAME,FATALS,DRUNK_DR
0,1,Alabama,10001,2,2,0,0,3,3,0,...,27,27,0,None,0,None,0,None,1,1
1,1,Alabama,10002,2,2,0,0,2,2,0,...,99,Unknown EMS Hospital Arrival Time,0,None,0,None,0,None,1,0
2,1,Alabama,10003,3,3,0,0,4,4,0,...,5,5,14,"Motor Vehicle struck by falling cargo,or somet...",0,None,0,None,1,0
3,1,Alabama,10004,1,1,0,1,1,1,1,...,88,Not Applicable (Not Transported),0,None,0,None,0,None,1,0
4,1,Alabama,10005,1,1,0,0,1,1,0,...,88,Not Applicable (Not Transported),0,None,0,None,0,None,1,1

In [9]:
accidents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33244 entries, 0 to 33243
Data columns (total 91 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   STATE         33244 non-null  int64
 1   STATENAME     33244 non-null  object
 2   ST_CASE       33244 non-null  int64
 3   VE_TOTAL      33244 non-null  int64
 4   VE_FORMS      33244 non-null  int64
 5   PVH_INVL      33244 non-null  int64
 6   PEDS          33244 non-null  int64
 7   PERSONS       33244 non-null  int64
 8   PERMVIT       33244 non-null  int64
 9   PERNOTMVIT    33244 non-null  int64
 10  COUNTY        33244 non-null  int64
 11  COUNTYNAME    33244 non-null  object
 12  CITY          33244 non-null  int64
 13  CITYNAME      33244 non-null  object
 14  DAY           33244 non-null  int64
 15  DAYNAME       33244 non-null  int64
 16  MONTH         33244 non-null  int64
 17  MONTHNAME     33244 non-null  object
 18  YEAR          33244 non-null  int64
 19  DAY_WEEK      33244 non-null  int64
 20  DAY_WEEKNAME  33244 non-null  object
 21  HOUR          33244 non-null  int64
 22  HOURNAME      33244 non-null  object
 23  MINUTE        33244 non-null  int64
 24  MINUTENAME    33244 non-null  object
 25  NHS           33244 non-null  int64
 26  NHSNAME       33244 non-null  object
 27  ROUTE         33244 non-null  int64
 28  ROUTENAME     33244 non-null  object
 29  TWAY_ID       33244 non-null  object
 30  TWAY_ID2      8503 non-null   object
 31  RUR_URB       33244 non-null  int64
 32  RUR_URBNAME   33244 non-null  object
 33  FUNC_SYS      33244 non-null  int64
 34  FUNC_SYSNAME  33244 non-null  object
 35  RD_OWNER      33244 non-null  int64
 36  RD_OWNERNAME  33244 non-null  object
 37  MILEPT        33244 non-null  int64
 38  MILEPTNAME    33244 non-null  object
 39  LATITUDE      33244 non-null  float64
 40  LATITUDENAME  33244 non-null  object
 41  LONGITUD      33244 non-null  float64
 42  LONGITUDNAME  33244 non-null  object
 43  SP_JUR        33244 non-null  int64
 44  SP_JURNAME    33244 non-null  object
 45  HARM_EV       33244 non-null  int64
 46  HARM_EVNAME   33244 non-null  object
 47  MAN_COLL      33244 non-null  int64
 48  MAN_COLLNAME  33244 non-null  object
 49  RELJCT1       33244 non-null  int64
 50  RELJCT1NAME   33244 non-null  object
 51  RELJCT2       33244 non-null  int64
 52  RELJCT2NAME   33244 non-null  object
 53  TYP_INT       33244 non-null  int64
 54  TYP_INTNAME   33244 non-null  object
 55  WRK_ZONE      33244 non-null  int64
 56  WRK_ZONENAME  33244 non-null  object
 57  REL_ROAD      33244 non-null  int64
 58  REL_ROADNAME  33244 non-null  object
 59  LGT_COND      33244 non-null  int64
 60  LGT_CONDNAME  33244 non-null  object
 61  WEATHER1      33244 non-null  int64
 62  WEATHER1NAME  33244 non-null  object
 63  WEATHER2      33244 non-null  int64
 64  WEATHER2NAME  33244 non-null  object
 65  WEATHER       33244 non-null  int64
 66  WEATHERNAME   33244 non-null  object
 67  SCH_BUS       33244 non-null  int64
 68  SCH_BUSNAME   33244 non-null  object
 69  RAIL          33244 non-null  object
 70  RAILNAME      33244 non-null  object
 71  NOT_HOUR      33244 non-null  int64
 72  NOT_HOURNAME  33244 non-null  object
 73  NOT_MIN       33244 non-null  int64
 74  NOT_MINNAME   33244 non-null  object
 75  ARR_HOUR      33244 non-null  int64
 76  ARR_HOURNAME  33244 non-null  object
 77  ARR_MIN       33244 non-null  int64
 78  ARR_MINNAME   33244 non-null  object
 79  HOSP_HR       33244 non-null  int64
 80  HOSP_HRNAME   33244 non-null  object
 81  HOSP_MN       33244 non-null  int64
 82  HOSP_MNNAME   33244 non-null  object
 83  CF1           33244 non-null  int64
 84  CF1NAME       33244 non-null  object
 85  CF2           33244 non-null  int64
 86  CF2NAME       33244 non-null  object
 87  CF3           33244 non-null  int64
 88  CF3NAME       33244 non-null  object
 89  FATALS        33244 non-null  int64
 90  DRUNK_DR      33244 non-null  int64
dtypes: float64(2), int64(48), object(41)
memory usage: 23.1+ MB

In [12]:
accidents.columns

Index(['STATE', 'STATENAME', 'ST_CASE', 'VE_TOTAL', 'VE_FORMS', 'PVH_INVL',
       'PEDS', 'PERSONS', 'PERMVIT', 'PERNOTMVIT', 'COUNTY', 'COUNTYNAME',
       'CITY', 'CITYNAME', 'DAY', 'DAYNAME', 'MONTH', 'MONTHNAME', 'YEAR',
       'DAY_WEEK', 'DAY_WEEKNAME', 'HOUR', 'HOURNAME', 'MINUTE', 'MINUTENAME',
       'NHS', 'NHSNAME', 'ROUTE', 'ROUTENAME', 'TWAY_ID', 'TWAY_ID2',
       'RUR_URB', 'RUR_URBNAME', 'FUNC_SYS', 'FUNC_SYSNAME', 'RD_OWNER',
       'RD_OWNERNAME', 'MILEPT', 'MILEPTNAME', 'LATITUDE', 'LATITUDENAME',
       'LONGITUD', 'LONGITUDNAME', 'SP_JUR', 'SP_JURNAME', 'HARM_EV',
       'HARM_EVNAME', 'MAN_COLL', 'MAN_COLLNAME', 'RELJCT1', 'RELJCT1NAME',
       'RELJCT2', 'RELJCT2NAME', 'TYP_INT', 'TYP_INTNAME', 'WRK_ZONE',
       'WRK_ZONENAME', 'REL_ROAD', 'REL_ROADNAME', 'LGT_COND', 'LGT_CONDNAME',
       'WEATHER1', 'WEATHER1NAME', 'WEATHER2', 'WEATHER2NAME', 'WEATHER',
       'WEATHERNAME', 'SCH_BUS', 'SCH_BUSNAME', 'RAIL', 'RAILNAME', 'NOT_HOUR',
       'NOT_HOURNAME', 'NOT_MIN', 'NOT_MINNAME', 'ARR_HOUR', 'ARR_HOURNAME',
       'ARR_MIN', 'ARR_MINNAME', 'HOSP_HR', 'HOSP_HRNAME', 'HOSP_MN',
       'HOSP_MNNAME', 'CF1', 'CF1NAME', 'CF2', 'CF2NAME', 'CF3', 'CF3NAME',
       'FATALS', 'DRUNK_DR'],
      dtype='object')

In [14]:
print(f"SUM:{accidents.iloc["PEDS"].sum()}")

SyntaxError: invalid syntax (316392219.py, line 1)